h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
textarea,
button,
input,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.header {
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: height 1s, -webkit-box-pack 1s;
  transition: height 1s, -webkit-box-pack 1s;
  transition: height 1s, justify-content 1s;
  transition: height 1s, justify-content 1s, -webkit-box-pack 1s, -ms-flex-pack 1s; }
  @media screen and (max-width: 1100px) {
    .header {
      height: 700px; } }
  @media screen and (max-width: 970px) {
    .header {
      height: 1300px;
      border-bottom-left-radius: 180px; } }
  @media screen and (max-width: 768px) {
    .header {
      height: 1100px;
      border-bottom-left-radius: 130px; } }
  @media screen and (max-width: 600px) {
    .header {
      height: 1000px;
      border-bottom-left-radius: 100px; } }
  @media screen and (max-width: 450px) {
    .header {
      height: 900px;
      border-bottom-left-radius: 70px; } }
  @media screen and (max-width: 380px) {
    .header {
      height: 850px;
      border-bottom-left-radius: 70px; } }
  @media screen and (max-width: 320px) {
    .header {
      height: 800px;
      border-bottom-left-radius: 50px; } }
  @media screen and (min-width: 2000px) {
    .header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .header__container {
    width: calc(100% - 228px);
    height: calc(100% - 49px);
    -webkit-transition: width 1s;
    transition: width 1s;
    position: relative; }
    @media screen and (max-width: 1280px) {
      .header__container {
        width: calc(100% - 114px); } }
    @media screen and (max-width: 1100px) {
      .header__container {
        width: calc(100% - 57px); } }
    @media screen and (max-width: 450px) {
      .header__container {
        width: 95%; } }
    @media screen and (min-width: 2000px) {
      .header__container {
        width: 70vw; } }
  .header__nav {
    height: 26px;
    margin-right: 228px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: margin-right 1s, opacity 1s;
    transition: margin-right 1s, opacity 1s; }
    @media screen and (max-width: 1280px) {
      .header__nav {
        margin-right: 180px; } }
    @media screen and (max-width: 1100px) {
      .header__nav {
        margin-right: 100px; } }
    @media screen and (max-width: 750px) {
      .header__nav {
        margin-right: 30px; } }
    @media screen and (max-width: 450px) {
      .header__nav {
        margin-right: 10px; } }

.nav {
  position: relative; }
  .nav__img {
    display: inline-block;
    background-image: url("../images/logo/Air.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 26px;
    z-index: 3;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s, -webkit-box-shadow 0.4s;
    transition: background-color 0.4s, -webkit-box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s; }
    .nav__img:hover {
      background-color: #2da0ff;
      -webkit-box-shadow: 0 2px 4px white;
              box-shadow: 0 2px 4px white;
      cursor: pointer; }
  .nav__hiring {
    line-height: 170%;
    padding: 0 10px 5px;
    border-radius: 5px;
    z-index: 2;
    -webkit-transition: background-color 0.4s, -webkit-box-shadow 0.4s;
    transition: background-color 0.4s, -webkit-box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s; }
    .nav__hiring:hover {
      background-color: #2da0ff;
      -webkit-box-shadow: 0 2px 4px white;
              box-shadow: 0 2px 4px white; }
      .nav__hiring:hover::before {
        content: "";
        background-color: #ff9c8e;
        width: 68px;
        height: 2px;
        position: absolute;
        right: 11px;
        bottom: -4px;
        border-radius: 1px; }
    .nav__hiring_link {
      text-decoration: none;
      color: white;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600; }

.list {
  white-space: nowrap;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .list__item {
    position: relative; }
  .list__link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s, -webkit-box-shadow 0.4s;
    transition: background-color 0.4s, -webkit-box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s; }
    .list__link:hover {
      background-color: #2da0ff;
      -webkit-box-shadow: 0 2px 4px white;
              box-shadow: 0 2px 4px white; }

.title {
  margin-top: 165px;
  position: relative;
  height: 355px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: margin-top 1s, left 1s;
  transition: margin-top 1s, left 1s; }
  @media screen and (max-width: 970px) {
    .title {
      margin-top: 750px; } }
  @media screen and (max-width: 768px) {
    .title {
      margin-top: 650px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }
  @media screen and (max-width: 600px) {
    .title {
      margin-top: 90vw; } }
  .title__heading_text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: white; }
  .title__description {
    margin-top: 32px;
    font-size: 18px;
    line-height: 150%;
    font-family: "Open Sans", sans-serif;
    color: white; }
  .title__action {
    position: absolute;
    bottom: 0;
    border: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 15px;
    line-height: 22px;
    width: 226px;
    height: 50px;
    border-radius: 64px;
    background-color: #ff9c8e;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
    outline: none; }
    .title__action:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 2px 4px white;
              box-shadow: 0 2px 4px white; }

.carousel {
  position: absolute;
  right: 0;
  top: 71px;
  -webkit-transition: top 1s, right 0.7s;
  transition: top 1s, right 0.7s; }
  @media screen and (max-width: 1100px) {
    .carousel {
      top: 58px; } }
  @media screen and (max-width: 970px) {
    .carousel {
      right: calc((100vw - 687px) / 2); } }
  @media screen and (max-width: 768px) {
    .carousel {
      right: 10vw; } }
  .carousel__img {
    background-image: url("../images/slider/slider1.png");
    border-top-left-radius: 200px;
    width: 687px;
    height: 680px;
    -webkit-transition: width 1s, height 1s, border-radius 1s;
    transition: width 1s, height 1s, border-radius 1s; }
    @media screen and (max-width: 1280px) {
      .carousel__img {
        width: 600px;
        height: 680px; } }
    @media screen and (max-width: 1100px) {
      .carousel__img {
        width: 550px;
        height: 593px; } }
    @media screen and (max-width: 970px) {
      .carousel__img {
        width: 687px;
        border-radius: 100px; } }
    @media screen and (max-width: 768px) {
      .carousel__img {
        width: 80vw;
        height: 80vw;
        border-radius: 50px; } }
    @media screen and (min-width: 2000px) {
      .carousel__img {
        border-top-right-radius: 200px; } }
  .carousel__control {
    position: absolute;
    left: 48px;
    bottom: 66px;
    -webkit-transition: bottom 1s;
    transition: bottom 1s; }
    @media screen and (max-width: 760px) {
      .carousel__control {
        display: none; } }
    .carousel__control_left {
      background-image: url("../images/slider/Vectorarr_left.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      outline: none;
      margin-right: 4px;
      border: none;
      -webkit-transition: border 0.1s, -webkit-box-shadow 1s;
      transition: border 0.1s, -webkit-box-shadow 1s;
      transition: box-shadow 1s, border 0.1s;
      transition: box-shadow 1s, border 0.1s, -webkit-box-shadow 1s; }
      .carousel__control_left:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 2px 6px #f4dadd;
                box-shadow: 0 2px 6px #f4dadd; }
      .carousel__control_left:active {
        border: double #f99f94; }
    .carousel__control_right {
      background-image: url("../images/slider/Vector.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      outline: none;
      border: none;
      -webkit-transition: border 0.1s, -webkit-box-shadow 1s;
      transition: border 0.1s, -webkit-box-shadow 1s;
      transition: box-shadow 1s, border 0.1s;
      transition: box-shadow 1s, border 0.1s, -webkit-box-shadow 1s; }
      .carousel__control_right:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 2px 6px #f4dadd;
                box-shadow: 0 2px 6px #f4dadd; }
      .carousel__control_right:active {
        border: double #f99f94; }
  .carousel__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px;
    height: 68px;
    position: absolute;
    left: 144px;
    bottom: 48px;
    -webkit-transition: width 1s, left 1s;
    transition: width 1s, left 1s; }
    @media screen and (max-width: 500px) {
      .carousel__title {
        width: 70vw;
        left: 10vw; } }
    .carousel__title_heading {
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      color: white; }
    .carousel__title_description {
      font-size: 14px;
      line-height: 140%;
      font-style: normal;
      font-weight: normal;
      color: white;
      font-family: "Open Sans", sans-serif; }

.menu__toggle {
  opacity: 0;
  position: absolute;
  top: -100%; }

@media screen and (max-width: 850px) {
  .menu__btn {
    display: block;
    position: absolute;
    left: calc(50% - 20px);
    margin: 20px auto 0;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 1; }
  .menu__span,
  .menu__span::before,
  .menu__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .menu__span::before {
    content: "";
    top: -8px; }
  .menu__span::after {
    content: "";
    top: 8px; }
  .header__nav {
    position: relative; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    visibility: hidden;
    margin: 0 auto;
    top: -2500%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 1;
    width: 70vw;
    height: 40vh;
    padding: 20px 0;
    list-style: none;
    background-color: #008aff;
    border-radius: 20px;
    -webkit-box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__link {
    display: block;
    padding: 12px 24px;
    color: #fff;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__link:hover {
    background-color: #334563; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .nav__list {
    visibility: visible;
    top: 40px; } }

.wwa {
  -webkit-transition: width 1s;
  transition: width 1s;
  position: relative;
  margin: 148px auto;
  max-width: 754px; }
  @media screen and (max-width: 1100px) {
    .wwa {
      width: calc(100% - 57px); } }
  @media screen and (max-width: 450px) {
    .wwa {
      width: 95%; } }
  @media screen and (max-width: 400px) {
    .wwa {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .wwa {
      margin: 80px auto; } }
  .wwa__title {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .wwa__description {
    font-family: "Open Sans", sans-serif;
    color: #6c788b;
    font-size: 24px;
    line-height: 150%; }

.expertise {
  padding: 128px 0 95px;
  background-color: white;
  -webkit-transition: padding 1s;
  transition: padding 1s; }
  @media screen and (max-width: 768px) {
    .expertise {
      padding: 40px 0 30px; } }
  .expertise__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 64px; }
    .expertise__title_text {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-weight: 600;
      font-size: 52px;
      line-height: 150%;
      color: #253757;
      -webkit-transition: text-align 1s, line-height 1s;
      transition: text-align 1s, line-height 1s; }
      @media screen and (max-width: 500px) {
        .expertise__title_text {
          text-align: center;
          line-height: 100%; } }
  .expertise__cards {
    position: relative; }

.cards {
  max-width: 1146px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media screen and (max-width: 600px) {
    .cards {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .cards__1 {
    display: inline-block;
    text-align: center; }
    .cards__1_img {
      background-image: url("../images/what-we-do/image 1.png");
      width: 184px;
      height: 166px;
      display: inline-block;
      background-size: 100% 100%;
      border-radius: 24px;
      background-position: center;
      background-repeat: no-repeat; }
    .cards__1_title {
      margin: 40px 0 16px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      color: #253757;
      font-size: 20px;
      line-height: 140%; }
    .cards__1_description {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      max-width: 265px;
      padding: 0 15px;
      margin-bottom: 60px; }
  .cards__2 {
    display: inline-block;
    text-align: center; }
    .cards__2_img {
      background-image: url("../images/what-we-do/image 2.png");
      width: 184px;
      height: 166px;
      display: inline-block;
      background-size: 100% 100%;
      border-radius: 24px;
      background-position: center;
      background-repeat: no-repeat; }
    .cards__2_title {
      margin: 40px 0 16px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      color: #253757;
      font-size: 20px;
      line-height: 140%; }
    .cards__2_description {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      max-width: 265px;
      padding: 0 15px;
      display: inline-block;
      margin-bottom: 60px; }
  .cards__3 {
    display: inline-block;
    text-align: center; }
    .cards__3_img {
      background-image: url("../images/what-we-do/image 3.png");
      width: 184px;
      height: 166px;
      display: inline-block;
      background-size: 100% 100%;
      border-radius: 24px;
      background-position: center;
      background-repeat: no-repeat; }
    .cards__3_title {
      margin: 40px 0 16px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      color: #253757;
      font-size: 20px;
      line-height: 140%; }
    .cards__3_description {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      max-width: 265px;
      padding: 0 15px;
      display: inline-block; }

.process {
  position: relative; }
  @media screen and (max-width: 1040px) {
    .process {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .process__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1146px;
    margin: 148px auto 44px;
    -webkit-transition: margin 2s;
    transition: margin 2s; }
    @media screen and (max-width: 1280px) {
      .process__wrap {
        margin: 148px 60px 44px; } }
    @media screen and (max-width: 1040px) {
      .process__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .process__wrap {
        margin: 40px auto 30px; } }
  .process__info {
    max-width: 362px; }
    @media screen and (max-width: 400px) {
      .process__info {
        text-align: center; } }
    .process__info_header {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      color: #c0cdd7;
      text-transform: uppercase; }
    .process__info_title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #253757;
      padding: 16px 0 24px; }
    .process__info_description {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      font-weight: normal;
      color: #6c788b; }

.pcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media screen and (max-width: 600px) {
    .pcc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .pcc__left {
    position: relative;
    top: 132px;
    margin-right: 30px; }
    @media screen and (max-width: 600px) {
      .pcc__left {
        top: 50px;
        margin-right: 0; } }
    .pcc__left_top {
      width: 264px;
      height: 264px;
      border-radius: 24px;
      background: #fff;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      position: relative;
      margin-bottom: 30px; }
      .pcc__left_top-num {
        background-color: #eefafe;
        color: #56ccf2;
        display: inline-block;
        margin: 32px;
        width: 46px;
        height: 24px;
        border-radius: 12px;
        text-align: center;
        font-size: 13px;
        line-height: 23px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600; }
      .pcc__left_top-text {
        font-family: "Open Sans", sans-serif;
        margin: 0 32px 32px;
        max-width: 200px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #6c788b; }
      .pcc__left_top-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 153px;
        height: 40px;
        margin-left: 32px;
        -webkit-transition: -webkit-box-shadow 1s;
        transition: -webkit-box-shadow 1s;
        transition: box-shadow 1s;
        transition: box-shadow 1s, -webkit-box-shadow 1s; }
        .pcc__left_top-button:hover {
          cursor: pointer;
          -webkit-box-shadow: 0 2px 4px darkgray;
                  box-shadow: 0 2px 4px darkgray; }
    .pcc__left_bot {
      width: 264px;
      height: 264px;
      border-radius: 24px;
      background: #fff;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      z-index: 1;
      position: relative;
      margin-bottom: 30px; }
      @media screen and (max-width: 600px) {
        .pcc__left_bot {
          position: relative;
          top: 295px; } }
      .pcc__left_bot-num {
        background-color: #e8fbee;
        color: #15d850;
        display: inline-block;
        margin: 32px;
        width: 46px;
        height: 24px;
        border-radius: 12px;
        text-align: center;
        font-size: 13px;
        line-height: 23px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600; }
      .pcc__left_bot-text {
        font-family: "Open Sans", sans-serif;
        margin: 0 32px 32px;
        max-width: 200px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #6c788b; }
      .pcc__left_bot-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 153px;
        height: 40px;
        margin-left: 32px;
        -webkit-transition: -webkit-box-shadow 1s;
        transition: -webkit-box-shadow 1s;
        transition: box-shadow 1s;
        transition: box-shadow 1s, -webkit-box-shadow 1s; }
        .pcc__left_bot-button:hover {
          cursor: pointer; }
  .pcc__right_top {
    width: 264px;
    height: 264px;
    border-radius: 24px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    margin-bottom: 30px; }
    @media screen and (max-width: 600px) {
      .pcc__right_top {
        position: relative;
        bottom: 243px; } }
    .pcc__right_top-num {
      background-color: #fffae8;
      color: #fcc304;
      display: inline-block;
      margin: 32px;
      width: 46px;
      height: 24px;
      border-radius: 12px;
      text-align: center;
      font-size: 13px;
      line-height: 23px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600; }
    .pcc__right_top-text {
      font-family: "Open Sans", sans-serif;
      margin: 0 32px 32px;
      max-width: 200px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b; }
    .pcc__right_top-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 153px;
      height: 40px;
      margin-left: 32px;
      -webkit-transition: -webkit-box-shadow 1s;
      transition: -webkit-box-shadow 1s;
      transition: box-shadow 1s;
      transition: box-shadow 1s, -webkit-box-shadow 1s; }
      .pcc__right_top-button:hover {
        cursor: pointer; }
  .pcc__right_bot {
    width: 264px;
    height: 264px;
    border-radius: 24px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    z-index: 1; }
    @media screen and (max-width: 600px) {
      .pcc__right_bot {
        position: relative;
        top: 53px; } }
    .pcc__right_bot-num {
      background-color: #feefef;
      color: #f25656;
      display: inline-block;
      margin: 32px;
      width: 46px;
      height: 24px;
      border-radius: 12px;
      text-align: center;
      font-size: 13px;
      line-height: 23px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600; }
    .pcc__right_bot-text {
      font-family: "Open Sans", sans-serif;
      margin: 0 32px 32px;
      max-width: 200px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b; }
    .pcc__right_bot-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 153px;
      height: 40px;
      margin-left: 32px;
      -webkit-transition: -webkit-box-shadow 1s;
      transition: -webkit-box-shadow 1s;
      transition: box-shadow 1s;
      transition: box-shadow 1s, -webkit-box-shadow 1s; }
      .pcc__right_bot-button:hover {
        cursor: pointer; }
  .pcc__link {
    border-radius: 20px;
    text-decoration: none; }
    .pcc__link:hover {
      cursor: pointer;
      background-color: #56adef; }

.arrow {
  border-radius: 20px; }
  .arrow__img_lt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #56ccf2; }
  .arrow__img_lb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #15d850; }
  .arrow__img_rt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcc304; }
  .arrow__img_rb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f25656; }
  .arrow_text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #334563;
    padding-right: 10px; }

.approach {
  position: relative; }
  .approach__wrap {
    height: 976px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 121px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ff9c8e;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    z-index: 0;
    -webkit-transition: margin-left 1s, border-top-left-radius 1s, border-bottom-left-radius 1s, width 1s;
    transition: margin-left 1s, border-top-left-radius 1s, border-bottom-left-radius 1s, width 1s; }
    @media screen and (max-width: 1400px) {
      .approach__wrap {
        margin-left: 0; } }
    @media screen and (max-width: 1130px) {
      .approach__wrap {
        height: 876px;
        border-top-left-radius: 130px;
        border-bottom-left-radius: 130px; } }
    @media screen and (max-width: 1040px) {
      .approach__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 1200px; } }
    @media screen and (max-width: 500px) {
      .approach__wrap {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px; } }
    @media screen and (min-width: 2000px) {
      .approach__wrap {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .approach__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    height: 100%;
    padding-left: 204px;
    -webkit-transition: padding-left 1s, width 1s, margin-top 1s, margin-bottom 1s, -webkit-box-align 1s;
    transition: padding-left 1s, width 1s, margin-top 1s, margin-bottom 1s, -webkit-box-align 1s;
    transition: padding-left 1s, width 1s, margin-top 1s, margin-bottom 1s, align-items 1s;
    transition: padding-left 1s, width 1s, margin-top 1s, margin-bottom 1s, align-items 1s, -webkit-box-align 1s, -ms-flex-align 1s; }
    @media screen and (min-width: 2000px) {
      .approach__text {
        -webkit-box-align: normal;
            -ms-flex-align: normal;
                align-items: normal;
        width: 23%; } }
    @media screen and (max-width: 1280px) {
      .approach__text {
        padding-left: 100px; } }
    @media screen and (max-width: 1180px) {
      .approach__text {
        padding-left: 50px; } }
    @media screen and (max-width: 1040px) {
      .approach__text {
        width: 100%;
        padding-left: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 40px; } }
    @media screen and (max-width: 500px) {
      .approach__text {
        width: 100%;
        padding-left: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 30px; } }
    @media screen and (max-width: 400px) {
      .approach__text {
        width: 100%;
        padding-left: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: -50px;
        margin-bottom: -100px; } }
  .approach__image {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    -webkit-transition: border-radius 1s, height 1s, width 1s, padding-top 1s, margin-bottom 1s;
    transition: border-radius 1s, height 1s, width 1s, padding-top 1s, margin-bottom 1s; }
    @media screen and (min-width: 2000px) {
      .approach__image {
        -webkit-box-pack: normal;
            -ms-flex-pack: normal;
                justify-content: normal; } }
    @media screen and (max-width: 1040px) {
      .approach__image {
        width: 80%;
        padding-left: 0;
        left: 102px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-top: 40px; } }
    @media screen and (max-width: 750px) {
      .approach__image {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        left: 0; } }
    @media screen and (max-width: 750px) {
      .approach__image {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin-bottom: 20px; } }
    @media screen and (max-width: 400px) {
      .approach__image {
        border-radius: 20px;
        height: 60%;
        padding-top: 0; } }
    @media screen and (max-width: 330px) {
      .approach__image {
        border-radius: 20px;
        height: 35%; } }
    .approach__image_img {
      background-image: url("../images/features/Photo.png");
      background-position: center;
      width: 687px;
      height: 680px;
      border-top-left-radius: 200px;
      -webkit-transition: width 1s, height 1s;
      transition: width 1s, height 1s; }
      @media screen and (min-width: 2000px) {
        .approach__image_img {
          border-top-right-radius: 200px; } }
      @media screen and (max-width: 1130px) {
        .approach__image_img {
          width: 600px;
          height: 597px; } }
      @media screen and (max-width: 1040px) {
        .approach__image_img {
          width: 80%;
          height: 100%; } }
      @media screen and (max-width: 750px) {
        .approach__image_img {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border-radius: 50px; } }
      @media screen and (max-width: 400px) {
        .approach__image_img {
          border-radius: 20px;
          height: 100%; } }

.apptitle {
  -webkit-transition: text-align 1s;
  transition: text-align 1s; }
  @media screen and (max-width: 400px) {
    .apptitle {
      text-align: center; } }
  .apptitle__header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 16px; }
  .apptitle__description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    max-width: 362px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: white;
    margin-bottom: 32px; }

.appdesc__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px; }
  .appdesc__card:last-child {
    margin-bottom: 0; }
  .appdesc__card_logo1 {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 34px;
    -webkit-transition: margin-right 1s;
    transition: margin-right 1s;
    background-image: url("../images/features/speaker.svg"); }
    @media screen and (max-width: 370px) {
      .appdesc__card_logo1 {
        margin-right: 15px; } }
  .appdesc__card_logo2 {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 34px;
    -webkit-transition: margin-right 1s;
    transition: margin-right 1s;
    background-image: url("../images/features/calendar.svg"); }
    @media screen and (max-width: 370px) {
      .appdesc__card_logo2 {
        margin-right: 15px; } }
  .appdesc__card_logo3 {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 34px;
    -webkit-transition: margin-right 1s;
    transition: margin-right 1s;
    background-image: url("../images/features/file.svg"); }
    @media screen and (max-width: 370px) {
      .appdesc__card_logo3 {
        margin-right: 15px; } }
  .appdesc__card_text {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: white;
    max-width: 264px;
    -webkit-transition: max-width 1s;
    transition: max-width 1s; }
    @media screen and (max-width: 360px) {
      .appdesc__card_text {
        max-width: 200px; } }

.testimonials {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 227px;
  padding-bottom: 168px;
  -webkit-transition: margin 1s, padding-bottom 1s;
  transition: margin 1s, padding-bottom 1s; }
  @media screen and (max-width: 1450px) {
    .testimonials {
      margin: 0 100px; } }
  @media screen and (max-width: 1180px) {
    .testimonials {
      margin: 0 50px;
      padding-bottom: 80px; } }
  @media screen and (max-width: 880px) {
    .testimonials {
      margin: 0 10px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 800px) {
    .testimonials {
      text-align: center;
      padding-bottom: 30px; } }
  .testimonials__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 148px;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s; }
    @media screen and (min-width: 2000px) {
      .testimonials__header {
        text-align: center; } }
    @media screen and (max-width: 1280px) {
      .testimonials__header {
        margin-top: 40px; } }
    @media screen and (max-width: 800px) {
      .testimonials__header {
        margin-top: 30px; } }
    .testimonials__header_title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      color: #c0cdd7;
      margin-bottom: 16px; }
      @media screen and (min-width: 2000px) {
        .testimonials__header_title {
          font-size: 2rem; } }
    .testimonials__header_description {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      color: #253757;
      margin-bottom: 85px;
      -webkit-transition: margin-bottom 1s;
      transition: margin-bottom 1s; }
      @media screen and (max-width: 800px) {
        .testimonials__header_description {
          margin-bottom: 20px; } }
      @media screen and (min-width: 2000px) {
        .testimonials__header_description {
          font-size: 4rem; } }
      @media screen and (max-width: 1280px) {
        .testimonials__header_description {
          margin-bottom: 30px; } }
  .testimonials__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s; }
    @media screen and (min-width: 2000px) {
      .testimonials__cards {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media screen and (max-width: 800px) {
      .testimonials__cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 130px; } }
    .testimonials__cards_card {
      width: 314px;
      height: 494px;
      background-color: white;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      border-radius: 24px;
      -webkit-transition: width 1s, margin-bottom 1s, -webkit-transform 1s;
      transition: width 1s, margin-bottom 1s, -webkit-transform 1s;
      transition: width 1s, margin-bottom 1s, transform 1s;
      transition: width 1s, margin-bottom 1s, transform 1s, -webkit-transform 1s; }
      @media screen and (max-width: 1180px) {
        .testimonials__cards_card {
          width: 250px; } }
      @media screen and (max-width: 800px) {
        .testimonials__cards_card {
          margin-bottom: 270px;
          -webkit-transform: scale(1.5);
                  transform: scale(1.5); }
          .testimonials__cards_card:last-child {
            margin-bottom: 0; } }
      @media screen and (max-width: 414px) {
        .testimonials__cards_card {
          margin-bottom: 130px;
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
          .testimonials__cards_card:first-child {
            margin-top: -70px; } }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .card__info_quote {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      text-align: center;
      max-width: 250px;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b; }
    .card__info_name {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #c0cdd7;
      margin: 16px 0 4px; }
    .card__info_position {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase; }
  .card__quotes_1 {
    width: 21px;
    height: 19px;
    background-image: url("../images/testimonials/quote1.svg");
    margin: 82px 0 10px; }
  .card__quotes_2 {
    width: 21px;
    height: 19px;
    background-image: url("../images/testimonials/quote2.svg");
    margin: 82px 0 10px; }
  .card__quotes_3 {
    width: 21px;
    height: 19px;
    background-image: url("../images/testimonials/quote.svg");
    margin: 82px 0 10px; }
  .card__img {
    position: relative;
    margin-top: 87px;
    width: 140px;
    height: 140px;
    border-radius: 50%; }
  .card__bar_top {
    width: 139px;
    height: 56px;
    border-radius: 45px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    left: 37px;
    top: 87px;
    -webkit-transition: top 1s, left 1s;
    transition: top 1s, left 1s; }
    @media screen and (max-width: 768px) {
      .card__bar_top {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg); } }
    @media screen and (max-width: 414px) {
      .card__bar_top {
        -webkit-transform: none;
                transform: none; } }
    @media screen and (max-width: 1180px) {
      .card__bar_top {
        top: 77px; } }
    @media screen and (max-width: 800px) {
      .card__bar_top {
        left: 55px; } }
    .card__bar_top-1 {
      background-color: #56ccf2; }
    .card__bar_top-2 {
      background-color: #fcc304; }
    .card__bar_top-3 {
      background-color: #f25656; }
  .card__bar_bot {
    width: 139px;
    height: 56px;
    border-radius: 45px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    right: 35px;
    top: 170px;
    -webkit-transition: top 1s, right 1s;
    transition: top 1s, right 1s; }
    @media screen and (max-width: 768px) {
      .card__bar_bot {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg); } }
    @media screen and (max-width: 414px) {
      .card__bar_bot {
        -webkit-transform: none;
                transform: none; } }
    @media screen and (max-width: 1180px) {
      .card__bar_bot {
        top: 180px; } }
    @media screen and (max-width: 800px) {
      .card__bar_bot {
        right: 55px; } }
    .card__bar_bot-1 {
      background-color: #56ccf2; }
    .card__bar_bot-2 {
      background-color: #fcc304; }
    .card__bar_bot-3 {
      background-color: #f25656; }

.card1 {
  background-image: url("../images/testimonials/Rectangle 13.png"); }

.card2 {
  background-image: url("../images/testimonials/Rectangle 13-2.png"); }

.card3 {
  background-image: url("../images/testimonials/Rectangle 13-3.png"); }

.vpr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 888px;
  background-color: #fff;
  overflow: hidden; }
  .vpr__text {
    margin-top: 199px;
    text-align: center; }
    .vpr__text_title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-weight: 600;
      font-size: 52px;
      line-height: 150%;
      color: #253757; }
    .vpr__text_description {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #6c788b;
      margin: 24px 0 64px; }
    .vpr__text_button {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: white;
      padding: 17px 91px;
      border-radius: 28px;
      background-color: #ff9c8e;
      outline: none;
      -webkit-transition: border 0.1s, -webkit-box-shadow 1s;
      transition: border 0.1s, -webkit-box-shadow 1s;
      transition: box-shadow 1s, border 0.1s;
      transition: box-shadow 1s, border 0.1s, -webkit-box-shadow 1s;
      border: none; }
      .vpr__text_button:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 2px 6px gray;
                box-shadow: 0 2px 6px gray; }
      .vpr__text_button:active {
        border: double white; }

.bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.75; }
  .bar__left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    right: 480px;
    bottom: 120px;
    -webkit-transition: right 1s, bottom 1s;
    transition: right 1s, bottom 1s; }
    @media screen and (max-width: 1180px) {
      .bar__left {
        right: 280px;
        bottom: 120px; }
        .bar__left:first-child {
          bottom: 50px; } }
    .bar__left_2 {
      right: 880px;
      bottom: 130px;
      opacity: 0;
      -webkit-transition: opacity 3s;
      transition: opacity 3s; }
      @media screen and (min-width: 2160px) {
        .bar__left_2 {
          opacity: 1; } }
  .bar__right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    left: 530px;
    top: 50px;
    -webkit-transition: left 1s;
    transition: left 1s; }
    @media screen and (max-width: 1180px) {
      .bar__right {
        left: 300px; } }
    .bar__right_2 {
      left: 1030px;
      top: 50px;
      opacity: 0;
      -webkit-transition: opacity 3s;
      transition: opacity 3s; }
  .bar__1 {
    position: absolute;
    left: -40px; }
  .bar__2 {
    position: absolute;
    left: 120px;
    bottom: 150px; }
  .bar__3 {
    position: absolute;
    right: 250px;
    bottom: 30px; }
  .bar__4 {
    position: absolute;
    right: 130px;
    bottom: 170px; }
  .bar__5 {
    position: absolute;
    left: 280px;
    top: 10px; }
  .bar__6 {
    position: absolute;
    left: -90px;
    top: 200px; }
  .bar__7 {
    position: absolute;
    bottom: 150px;
    left: 220px; }
  .bar__8 {
    position: absolute;
    top: 30px;
    right: -100px; }
  .bar__9 {
    position: absolute;
    bottom: 120px; }
  .bar__10 {
    position: absolute;
    left: 190px;
    top: 90px; }
  .bar__11 {
    position: absolute;
    bottom: 50px;
    left: 390px; }
  .bar__12 {
    position: absolute;
    bottom: 280px;
    right: 130px; }
  .bar--size-1 {
    width: 45px;
    height: 18px;
    border-radius: 18px; }
  .bar--size-2 {
    width: 67px;
    height: 27px;
    border-radius: 27px; }
  .bar--size-3 {
    width: 93px;
    height: 37px;
    border-radius: 37px; }
  .bar--size-4 {
    width: 143px;
    height: 57px;
    border-radius: 57px; }
  .bar--color-b {
    border: 5px solid #008aff; }
  .bar--color-g {
    border: 5px solid #15d850; }
  .bar--color-r {
    border: 5px solid #f25656; }
  .bar--color-p {
    border: 5px solid purple; }
  .bar--color-y {
    border: 5px solid #fcc304; }

.footer {
  height: 867px;
  background-color: #008aff;
  border-top-right-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -200px; }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .footer__info_message {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 460px; }

body {
  background-color: #e5e5e5; }

/*# sourceMappingURL=main.css.map */
