.pcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .pcc__left {
    position: relative;
    top: 132px;
    margin-right: 30px; }
    .pcc__left_top {
      width: 264px;
      height: 264px;
      border-radius: 24px;
      background: #fff;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      position: relative;
      margin-bottom: 30px; }
      .pcc__left_top-num {
        background-color: #eefafe;
        color: #56ccf2;
        display: inline-block;
        margin: 32px;
        width: 46px;
        height: 24px;
        border-radius: 12px;
        text-align: center;
        font-size: 13px;
        line-height: 23px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600; }
      .pcc__left_top-text {
        font-family: "Open Sans", sans-serif;
        margin: 0 32px 32px;
        max-width: 200px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #6c788b; }
      .pcc__left_top-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 143px;
        height: 40px;
        margin-left: 32px;
        -webkit-transition: -webkit-box-shadow 1s;
        transition: -webkit-box-shadow 1s;
        transition: box-shadow 1s;
        transition: box-shadow 1s, -webkit-box-shadow 1s; }
        .pcc__left_top-button:hover {
          cursor: pointer;
          -webkit-box-shadow: 0 2px 4px #f25656;
                  box-shadow: 0 2px 4px #f25656; }
    .pcc__left_bot {
      width: 264px;
      height: 264px;
      border-radius: 24px;
      background: #fff;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      position: relative;
      margin-bottom: 30px; }
      .pcc__left_bot-num {
        background-color: #e8fbee;
        color: #15d850;
        display: inline-block;
        margin: 32px;
        width: 46px;
        height: 24px;
        border-radius: 12px;
        text-align: center;
        font-size: 13px;
        line-height: 23px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600; }
      .pcc__left_bot-text {
        font-family: "Open Sans", sans-serif;
        margin: 0 32px 32px;
        max-width: 200px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #6c788b; }
      .pcc__left_bot-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 143px;
        height: 40px;
        margin-left: 32px;
        -webkit-transition: -webkit-box-shadow 1s;
        transition: -webkit-box-shadow 1s;
        transition: box-shadow 1s;
        transition: box-shadow 1s, -webkit-box-shadow 1s; }
        .pcc__left_bot-button:hover {
          cursor: pointer;
          -webkit-box-shadow: 0 2px 4px #15d850;
                  box-shadow: 0 2px 4px #15d850; }
  .pcc__right_top {
    width: 264px;
    height: 264px;
    border-radius: 24px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    margin-bottom: 30px; }
    .pcc__right_top-num {
      background-color: #fffae8;
      color: #fcc304;
      display: inline-block;
      margin: 32px;
      width: 46px;
      height: 24px;
      border-radius: 12px;
      text-align: center;
      font-size: 13px;
      line-height: 23px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600; }
    .pcc__right_top-text {
      font-family: "Open Sans", sans-serif;
      margin: 0 32px 32px;
      max-width: 200px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b; }
    .pcc__right_top-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 143px;
      height: 40px;
      margin-left: 32px;
      -webkit-transition: -webkit-box-shadow 1s;
      transition: -webkit-box-shadow 1s;
      transition: box-shadow 1s;
      transition: box-shadow 1s, -webkit-box-shadow 1s; }
      .pcc__right_top-button:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 2px 4px #fcc304;
                box-shadow: 0 2px 4px #fcc304; }
  .pcc__right_bot {
    width: 264px;
    height: 264px;
    border-radius: 24px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
    .pcc__right_bot-num {
      background-color: #feefef;
      color: #f25656;
      display: inline-block;
      margin: 32px;
      width: 46px;
      height: 24px;
      border-radius: 12px;
      text-align: center;
      font-size: 13px;
      line-height: 23px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600; }
    .pcc__right_bot-text {
      font-family: "Open Sans", sans-serif;
      margin: 0 32px 32px;
      max-width: 200px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b; }
    .pcc__right_bot-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 143px;
      height: 40px;
      margin-left: 32px;
      -webkit-transition: -webkit-box-shadow 1s;
      transition: -webkit-box-shadow 1s;
      transition: box-shadow 1s;
      transition: box-shadow 1s, -webkit-box-shadow 1s; }
      .pcc__right_bot-button:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 2px 4px #f25656;
                box-shadow: 0 2px 4px #f25656; }
  .pcc__link {
    border-radius: 20px;
    text-decoration: none; }
    .pcc__link:hover {
      cursor: pointer;
      background-color: #56adef; }

.arrow {
  border-radius: 20px; }
  .arrow__img_lt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #56ccf2; }
  .arrow__img_lb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #15d850; }
  .arrow__img_rt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcc304; }
  .arrow__img_rb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/features/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f25656; }
  .arrow_text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #334563; }

/*# sourceMappingURL=pcc.css.map */
